form(action='/data' method='post')
    div.test#id1
        input(type="text" name="un" )
        br
        input(type="email" name="email")
        br 
        input(type='radio' name='branch' value='CE') 
        |CE
        input(type='radio' name='branch' value='IT') 
        |IT
        input(type='radio' name='branch' value='CSE') 
        |CSE
        br
        input(type="submit")